.App {
  /*text-align: center;*/
}

button {
  white-space: normal;
  word-wrap: break-word;
}

.container {
  width: 100%;
  max-width: initial;
}

.App-logo {
  animation: App-logo-spin infinite 2s alternate;
  height: 4vmin;
  color: #fdd835;
}

.App-header {
  background-color: #0D2C54;
  min-height: 20px;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  padding-left: 20px;
}

input {
  color: #fff;
}

.App-header .div-client{
  text-align: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.food-type {
  margin-left: 2px;
  margin-bottom: 10px;
  margin-top: 2px;
}

.message {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 999;
  left: 50%;
  bottom: 30px;
}

.message.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}