.App {
  /*text-align: center;*/
}

button {
  white-space: normal;
  word-wrap: break-word;
}

.container {
  width: 100%;
  max-width: initial;
}

.App-logo {
  animation: App-logo-spin infinite 2s alternate;
  height: 4vmin;
  color: #fdd835;
}

.App-header {
  background-color: #0D2C54;
  min-height: 20px;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  padding-left: 20px;
}

input {
  color: #fff;
}

.App-header .div-client{
  text-align: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.food-type {
  margin-left: 2px;
  margin-bottom: 10px;
  margin-top: 2px;
}
