.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 2s alternate;
  height: 4vmin;
  color: #fdd835;
}

.App-header {
  background-color: #0D2C54;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.food-type {
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
